<div class="services-wrapper">
  <main class="sgroup-container">
    <section *ngFor="let category of categories" class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box">{{category.name}}</div>
      <div class="info-box">
        <div class="info-col-1">
          <img [src]="category.image" alt="" />
        </div>
        <div class="info-col-2">
          <div class="service-info">
            <div class="services-text">{{category.description}}</div>
            <div *ngFor="let service of category.services" class="services-prices">
              <div class="services-prices-wrapper">
                <div class="services-name">{{service.name}}</div>
                <div class="services-price">{{service.price}}</div>
              </div>
            </div>
            <div class="service-btn-makeappoitment">
              <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
