
.column {
  width: 50%;
}
.service-info{
  display: flex;
  height: 35.1vh;
  flex-direction: column;
  justify-content: space-between;
}
.services-prices{
  text-align: center;
  align-items: end;
  min-height: 5vh;
}
.services-prices-wrapper{
  flex-basis: 25%;
  font-family: PlayFair;
  font-size: calc(var(--index) * .70);
  display: flex;
  justify-content: space-between;
}
.services-text{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: PlayFair;
  font-size: calc(var(--index) * 1);
}
.service-btn-makeappoitment{
  display: flex;
  justify-content: center;
}
.appoinmentsBtn {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #e63600 0%, #fae904 51%, #eec302 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.appoinmentsBtn:hover {
  background-position: right center;
  transform: scale(1.1);
}
.services-wrapper{
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
.sgroup-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.sgroup {
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: cover;
  background-position: 50% 50%;
  height: 47.1vh;
}
.sgroup:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background-color: rgba(0,0,0,0.4);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

}
.sgroup:hover:after {
  content: "";
  background-color: rgba(0,0,0,0.2);
}
.sgroup.is-expanded {
  top: 0 !important;
  left: 0 !important;
  z-index: 100;
  width: 100%;
  height: 47.1vh;
  cursor: initial;
}
.has-expanded-item .sgroup:not(.is-expanded) {
  transform: scale(0);
}
.close-sgroup {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  line-height: 1;
  font-size: 50px;
  text-align: center;
  color: #fff;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 150ms linear;
  will-change: opacity;
}
.sgroup.is-expanded .close-sgroup {
  opacity: 1;
  transition-delay: 500ms;
  pointer-events: initial;
}
.title-box {
  z-index: 1;
  position: relative;
  display: flex;
  padding: 0 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2f700;
  font-family: Tahoma, sans-serif;
  text-shadow: -1px 0 1px #989898, 0 1px 1px #989898, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  font-weight: 600;
}
.sgroup.is-expanded:after {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
}
.sgroup.is-expanded .title-box {
  justify-content: flex-start;
  height: auto;
  margin: 10px 40px;
}
.info-col-1-img_settings{
  height: 30vh;
}
.sgroup.is-expanded .info-box {
  z-index: 1;
  position: relative;
  display: flex;
  padding: 0 20px;
  height: 75%;
  overflow: hidden;
  align-items: center;
}
.info-box .info-col-1,
.info-box .info-col-2 {
  padding: 0 40px;
}
.info-box .info-col-1 {
  width: 40%;
}
.info-box .info-col-1 img {
  width: 100%;
}
.info-box .info-col-2 {
  width: 60%;
  max-height: 100%;
  overflow-y: auto;
  color: #FFF;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0;
  font-family: Verdana, sans-serif;
  transition: opacity 0.5s linear 0.4s;
}
.sgroup.is-expanded .info-box .info-col-2 {
  opacity: 1;
}

@media (max-width: 1024px){
  .services-wrapper{
    flex-direction: column!important;
  }
  .column{
    width: 100%!important;
  }
}
@media (max-width: 768px){
  .appoinmentsBtn{
    font-size: calc(var(--index)*1);
    padding: 0 10px;
    height: 7vh;
  }
  .info-col-1-img_settings{
    width: 30vw;
    height: 30vh;
  }
  .info-col-1{
    padding: 0!important;
  }
  @media (max-width: 425px){
    .info-box{
      padding: 5px!important;
    }
    .info-col-2{
      padding: 0 10px!important;
    }
    .info-col-1-img_settings{
      height: 25vh;
    }
    .services-prices-wrapper{
      font-size: calc(var(--index)*0.8);
    }
  }
}
/*@media screen and (max-width: 991px) {*/
/*  .title-box {*/
/*    font-size:18px;*/
/*  }*/
/*  .sgroup.is-expanded .info-box {*/
/*    flex-wrap: wrap;*/
/*  }*/
/*  .info-box .info-col-1 {*/
/*    display: none;*/
/*  }*/
/*  .info-box .info-col-2 {*/
/*    width: 100%;*/
/*  }*/
/*}*/
