<div class="services-wrapper">
  <div class="column">
    <ng-container *ngFor="let category of categories.slice(0, categories.length / 2); let i = index">
      <section class="sgroup" [ngStyle]="getSectionStyles(i, category.image ?? '')">
        <div class="close-sgroup">&times;</div>
        <div class="title-box">{{category.name}}</div>
        <div class="info-box">
          <div class="info-col-1">
            <div class="info-cal-1-wrapper">
            <img [src]="category.image" class="info-col-1-img_settings" alt="" />
            </div>
          </div>
          <div class="info-col-2">
            <div class="service-info">
              <div class="services-text">{{category.description}}</div>
              <div *ngFor="let service of category.services" class="services-prices">
                <div class="services-prices-wrapper">
                  <div class="services-name">{{service.name}}</div>
                  <div class="services-price">{{service.price}}</div>
                </div>
              </div>
              <div class="service-btn-makeappoitment">
                <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
  <div class="column" >
    <ng-container *ngFor="let category of categories.slice(categories.length / 2); let i = index">
      <section class="sgroup" [ngStyle]="getSectionStyles(i + categories.length / 2, category.image ?? '')">
        <div class="close-sgroup">&times;</div>
        <div class="title-box">{{category.name}}</div>
        <div class="info-box">
          <div class="info-col-1">
            <div class="info-cal-1-wrapper">
            <img [src]="category.image" class="info-col-1-img_settings" alt="" />
            </div>
          </div>
          <div class="info-col-2">
            <div class="service-info">
              <div class="services-text">{{category.description}}</div>
              <div *ngFor="let service of category.services" class="services-prices">
                <div class="services-prices-wrapper">
                  <div class="services-name">{{service.name}}</div>
                  <div class="services-price">{{service.price}}</div>
                </div>
              </div>
              <div class="service-btn-makeappoitment">
                <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
</div>
