<div class="services-wrapper" *ngIf="categories.length > 0">
  <div class="column">
    <ng-container *ngFor="let category of categories.slice(0, categories.length / 2); let i = index">
      <section class="sgroup" [ngStyle]="getSectionStyles(i, category)" (click)="openSgroup($event)">
        <div (click)="closeSgroup($event)" class="close-sgroup">&times;</div>
        <div class="title-box">{{category.model.name}}</div>
        <div class="info-box">
          <div class="info-col-1 img-padding">
            <div class="info-cal-1-wrapper">
              <img [src]="category.image" class="info-col-1-img_settings" alt="" />
            </div>
          </div>
          <div class="info-col-2">
            <div class="service-info">
              <div class="services-text">{{category.model.description}} </div>
              <div *ngFor="let service of category.services" class="services-prices">
                <div class="services-prices-wrapper">
                  <div class="services-name">{{service.name}}</div>
                  <div class="services-price">{{service.price}}</div>
                </div>
              </div>
              <div class="service-btn-makeappoitment">
                <button class="appoinmentsBtn" (click)="makeAppointment(category.model)">Appointment Online</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
  <div class="column">
    <ng-container *ngFor="let category of categories.slice(categories.length / 2); let i = index">
      <section class="sgroup" [ngStyle]="getSectionStyles(i + categories.length / 2, category)"
        (click)="openSgroup($event)">
        <div class="close-sgroup" (click)="closeSgroup($event)">&times;</div>
        <div class="title-box">{{category.model.name}}</div>
        <div class="info-box">
          <div class="info-col-1 ">
            <div class="info-cal-1-wrapper">
              <img [src]="category.image" class="info-col-1-img_settings" alt="" />
            </div>
          </div>
          <div class="info-col-2">
            <div class="service-info">
              <div class="services-text">{{category.model.description}}</div>
              <div class="all-service-wrapper">
                <div *ngFor="let service of category.services" class="services-prices">
                  <div class="services-prices-wrapper">
                    <div class="services-name">{{service.name}} <span></span></div>
                    <div class="services-price">{{service.price}}</div>
                  </div>
                </div>
              </div>
              <div class="service-btn-makeappoitment">
                <button class="appoinmentsBtn" (click)="makeAppointment(category.model)">Appointment Online</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
</div>