<div class="front-page-wrapper">


  <!--test-->

  <!-- <div class="front-img">
  <img class="front-img_setting" [src]="imageUrl" alt="My Image">
  </div> -->


  <div class="content-wrapper">
    <div class="front-title">

      <div class="front-title_left">
        <h1>Name template</h1>
        <h2>Name template, <span>Erie PA</span></h2>
        <button routerLink="/user/about" class="front-pageBtn">Welcome!</button>
      </div>


    </div>
    <div class="front-title">
      <div class="front-title-img_wrapper">
        <img class="front-title-img" [src]="titleimgRight" alt="My Image">
      </div>
    </div>
  </div>


</div>