<div class="add-service-container">
  <div class="add-service-wrapper">
<div class="add-service-header">
  <input [(ngModel)]="newService.name" placeholder="Service name" class="service-name" (input)="checkFieldsValidity()">
  <input [(ngModel)]="newService.price" placeholder="Price" class="service-price" (input)="checkFieldsValidity()">
<span class="span-duration">Duration: </span>
  <div  class="time-picker">
  <ngb-timepicker
    [spinners]="false" [(ngModel)]="newService.duration" (ngModelChange)="checkTimeValidity()">
  </ngb-timepicker>
  </div>
</div>

    <div class="test1">
  <div class="test2">
    <div ngbDropdown class="test3">
      <button type="button" class="test4" id="dropdownBasic1" ngbDropdownToggle >
        <div *ngIf="newService.category" class="btn-wrapper">
          <div>{{newService.category.name}}</div>
          <img [src]="newService.category.image" class="active-img">
          <button (click)="saveService()" class="saveBtn" [disabled]="!isFieldsValid">Save</button>
          <div class="error-message" *ngIf="!isFieldsValid">Fill in all fields</div>
        </div>
        <div *ngIf="!newService.category">Select Category</div>
      </button>
      <div aria-labelledby="dropdownBasic1" style="width: 100%; border: none; padding: 0">
        <div *ngIf="serviceCategories" class="service-wrapper">
          <div *ngFor="let category of serviceCategories" class="once-service">
            <button (click)="selectCategory(category)">
              <div>{{category.name}}</div>
              <img [src]="category.image" class="service-img" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
