
  <div class="wrapper" style="background: linear-gradient(to right, rgb(237 159 237), rgb(176 203 213));">
    <div class="content">

      <header class="hero-section">
        <img  data-speed=".6" class="hero" [src]="aboutTitlePhoto" alt="Alt">
        <div class="container-fluid">
            <div data-speed=".75" class="main-header">
                <h1 class="main-title">Name beuaty salon</h1>

                <div class="about-btn-makeappoitment">
                  <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
                </div>

            </div>
        </div>
    </header>
    
       <div class="portfolio">
        <div class="container-fluid">
          
          <main class="gallery">
    
                <div data-speed=".9" class="gallery-left">
                    
                    <img scroll-animator [options]="{x:'-100%', opacity:'0'}" class="gallery__item img-width" [src]="aboutTitlePhoto1" alt="Alt">
                    <img scroll-animator [options]="{x:'-100%', opacity:'0'}" class="gallery__item img-width" [src]="aboutTitlePhoto2" alt="Alt">
    
                    <div scroll-animator [options]="{x:'-100%', opacity:'0'}" class="text-block gallery__item">
                        <h2 class="text-block__h">Creative floating scroll with amazing parallax effect</h2>
                        <p class="text-block__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling.</p>
                    </div>
    
                    <img scroll-animator [options]="{x:'-100%', opacity:'0'}" class="gallery__item img-width" [src]="aboutTitlePhoto3" alt="Alt">
    
                </div>
    
    
                <div data-speed="1.1" class="gallery-right">
                    
                    <div scroll-animator [options]="{x:'100%', opacity:'0'}" class="text-block gallery__item">
                        <h2 class="text-block__h">Creative floating scroll with amazing parallax effect</h2>
                        <p class="text-block__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling.</p>
                    </div>
    
                    <img scroll-animator [options]="{x:'100%', opacity:'0'}" class="gallery__item img-width" [src]="aboutTitlePhoto4" alt="Alt">
                    <img scroll-animator [options]="{x:'100%', opacity:'0'}" class="gallery__item img-width" [src]="aboutTitlePhoto5" alt="Alt">
                    <img scroll-animator [options]="{x:'100%', opacity:'0'}" class="gallery__item img-width" [src]="aboutTitlePhoto6" alt="Alt">
    
    
                </div>
    
    
            </main>
        </div>
       </div>
    

    </div>
   </div>

