<div class="schedule-wrapper">
<div class="form-group">
    <div *ngFor="let workingDay of schedule?.workingDays" class="timepicker-wrapper">
        {{workingDay.day}}: StartTime:
        <ngb-timepicker [(ngModel)]="workingDay.startTime"></ngb-timepicker>
    </div>
    <button (click)="showAddWorkingDayForm = true" class="add-working-day_Btn">Add working day</button><hr>
    <div *ngIf="showAddWorkingDayForm">
        <div class="day-wrapper">

            <div ngbDropdown class="d-inline-block">
                <button (click)="loadAvailableDays()" type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                    ngbDropdownToggle>
                    <div *ngIf="newWorkingDay.day">
                        <div>{{newWorkingDay.day}}</div>
                    </div>
                    <div *ngIf="!newWorkingDay.day">Select Day</div>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngIf="availableWorkingDays">
                        <div *ngFor="let day of availableWorkingDays">
                            <button (click)="selectDay(day)">
                                <div>{{day}}</div>
                            </button>
                        </div>
                    </div>
                </div>
                <ngb-timepicker [(ngModel)]="newWorkingDay.startTime"></ngb-timepicker>
                <ngb-timepicker [(ngModel)]="newWorkingDay.endTime"></ngb-timepicker>
            </div>
            <!-- Другие поля для ввода -->
            <button (click)="addWorkingDay()" class="add-working-day_Btn">Create</button>
          <hr>

        </div>
    </div>
</div>
<!-- Other inputs for Schedule properties -->

<!-- <button (click)="saveSchedule()" type="submit" class="save-btn">Save</button> -->
</div>
