<div class="services-wrapper">
  <main class="sgroup-container">

    <section class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box">SHADED EYELASH ENHANCEMENT</div>
      <div class="info-box">
        <div class="info-col-1">
          <img [src]=" servicesPhoto3" alt="" />
        </div>
        <div class="info-col-2">

          <div class="service-info">

            <div class="services-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
              Voluptas fugit illo quam mollitia nihil nemo corrupti,<br>
              consectetur dignissimos laboriosam ullam iusto nam laudantium,<br>
              explicabo, voluptatum iste molestias rerum deleniti voluptate!<br>
            </div>

            <div class="services-prices">

              <div class="services-prices-wrapper">
                <div class="services-name">INITIAL TRETMENT</div>
                <div class="services-price">$300</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1-12 MONTH)  </div>
                <div class="services-price">$80</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1+ YEAR)  </div>
                <div class="services-price">$250</div>
              </div>

            </div>
            <div class="service-btn-makeappoitment">
              <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
            </div>
           

          </div>
        </div>
      </div>
    </section>



    <section class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box">NATURAL LIPS</div>
      <div class="info-box">
        <div class="info-col-1">
          <img [src]=" servicesPhoto2" alt="" />
        </div>
        <div class="info-col-2">
          <div class="service-info">

            <div class="services-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
              Voluptas fugit illo quam mollitia nihil nemo corrupti,<br>
              consectetur dignissimos laboriosam ullam iusto nam laudantium,<br>
              explicabo, voluptatum iste molestias rerum deleniti voluptate!<br>
            </div>

            <div class="services-prices">

              <div class="services-prices-wrapper">
                <div class="services-name">INITIAL TRETMENT</div>
                <div class="services-price">$300</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1-12 MONTH)  </div>
                <div class="services-price">$80</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(2-12 MONTH)  </div>
                <div class="services-price">$250</div>
              </div> 

              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1+ YEAR)  </div>
                <div class="services-price">$150</div>
              </div>


            </div>

            <div class="service-btn-makeappoitment">
              <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
            </div>
           

          </div>
        </div>
      </div>
    </section>



    <section class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box"> POWDER EYEBROWS</div>
      <div class="info-box">
        <div class="info-col-1">
          <img [src]=" servicesPhoto1" alt="" />
        </div>
        <div class="info-col-2">
          <div class="service-info">

            <div class="services-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
              Voluptas fugit illo quam mollitia nihil nemo corrupti,<br>
              consectetur dignissimos laboriosam ullam iusto nam laudantium,<br>
              explicabo, voluptatum iste molestias rerum deleniti voluptate!<br>
            </div>

            <div class="services-prices">

              <div class="services-prices-wrapper">
                <div class="services-name">INITIAL TRETMENT</div>
                <div class="services-price">$300</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1-12 MONTH)  </div>
                <div class="services-price">$80</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(2-12 MONTH)  </div>
                <div class="services-price">$250</div>
              </div> 

              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1+ YEAR)  </div>
                <div class="services-price">$150</div>
              </div>


            </div>

            <div class="service-btn-makeappoitment">
              <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
            </div>
           

          </div>
        </div>
      </div>
    </section>

    <section class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box">CLASSIC EYELINER OR SMOKER EYES</div>
      <div class="info-box">
        <div class="info-col-1">
          <img [src]=" servicesPhoto4" alt="" />
        </div>
        <div class="info-col-2">
          <div class="service-info">

            <div class="services-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
              Voluptas fugit illo quam mollitia nihil nemo corrupti,<br>
              consectetur dignissimos laboriosam ullam iusto nam laudantium,<br>
              explicabo, voluptatum iste molestias rerum deleniti voluptate!<br>
            </div>

            <div class="services-prices">

              <div class="services-prices-wrapper">
                <div class="services-name">INITIAL TRETMENT</div>
                <div class="services-price">$300</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1-12 MONTH)  </div>
                <div class="services-price">$80</div>
              </div>


              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(2-12 MONTH)  </div>
                <div class="services-price">$250</div>
              </div> 

              <div class="services-prices-wrapper">
                <div class="services-name">TOUCH-UP(1+ YEAR)  </div>
                <div class="services-price">$150</div>
              </div>


            </div>

            <div class="service-btn-makeappoitment">
              <button class="appoinmentsBtn" routerLink="">Appointment Online</button>
            </div>
           

          </div>
        </div>
      </div>
    </section>

  </main>
</div>