<div class="services-wrapper">
<main class="sgroup-container">

  <section class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box">SHADED EYELASH ENHANCEMENT  <span class="addrbg">BackGroundGold</span> </div>
      <div class="info-box">
          <div class="info-col-1">
              <img [src]=" servicesPhoto3" alt="" />
          </div>
          <div class="info-col-2">
              <p>Описание1</p>
          </div>    
      </div>
  </section>
  

  
  <section class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box">NATURAL LIPS</div>
      <div class="info-box">
          <div class="info-col-1">
            <img [src]=" servicesPhoto2" alt="" />
          </div>
          <div class="info-col-2">
              <p>Описание2</p>
          </div>    
      </div>    
  </section>  
  
  

  <section class="sgroup">
    <div class="close-sgroup">&times;</div>
    <div class="title-box"> POWDER EYEBROWS</div>
    <div class="info-box">
        <div class="info-col-1">
          <img [src]=" servicesPhoto1" alt="" />
        </div>
        <div class="info-col-2">
            <p>Описание3</p>
        </div>    
    </div>    
</section>
  
  <section class="sgroup">
      <div class="close-sgroup">&times;</div>
      <div class="title-box">CLASSIC EYELINER OR SMOKER EYES</div>
      <div class="info-box">
          <div class="info-col-1">
            <img [src]=" servicesPhoto4" alt="" />
          </div>
          <div class="info-col-2">
              <p>Описание4</p>
          </div>    
      </div>    
  </section>

</main>
</div>