img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
  }
.admin-container{
  min-height: 84.5vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(237 159 237), rgb(176 203 213));
  min-width: 300px;
}
.admin-container_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.admin-btn{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  font-size: calc(var(--index)*.5);
  height: 7vh;
}
.admin-btn:hover{
  background-position: right center;
  transform: scale(1.1);
}
@media (max-width: 425px){
  .admin-btn{
    font-size: calc(var(--index)*.6);
  }
}
