<div class="admin-container">
  <div class="admin-container_wrapper">
    <button class="admin-btn" routerLink="category">category</button>
    <button class="admin-btn" routerLink="service">add-service</button>
    <button class="admin-btn" routerLink="add-best-works">add-best work</button>
    <button class="admin-btn" routerLink="master">Masters</button>
    <button class="admin-btn" routerLink="reservations">Reservations</button>
    <button class="admin-btn"><a [href]="healthChecksURI">HeathCheck</a></button>
  </div>
</div>