<p>add-service works!</p>
<div *ngIf="serviceCategories">
  <div *ngFor="let category of serviceCategories">
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>
    <p>{{category.imageFileName}}</p>
    <img [src]="category.image" alt={{category.imageFileName}}>
    <button (click)="deleteCategory(category.id)">detele</button>
    <!-- Дополнительные элементы, связанные с категорией -->
  </div>
</div>

<button (click)="showAddCategoryForm = true">Добавить категорию</button>

<div *ngIf="showAddCategoryForm">
  <input [(ngModel)]="newCategory.name" placeholder="Имя категории">
  <input [(ngModel)]="newCategory.description" placeholder="Описание категории">
  <img [src]="newCategory.image" alt={{newCategory.imageFileName}}>

  <input type="file" (change)="onFileSelected($event)">
  <!-- Другие поля для ввода -->

  <button (click)="createCategory()">Создать</button>
</div>
