<!-- Список категорий и сервисов внутри категорий -->
<div class="main-container">
  <div class="category-service-container">
    <div class="category-list">
      <div *ngFor="let category of serviceCategories" class="category-wrapper">
        <h2 class="add-category-name">Category name:<span>{{ category.name }}</span></h2>
        <p class="add-category-description">Description:<span>{{ category.description }}</span></p>
        <img [src]="category.image" alt={{category.imageFileName}} class="category-image">
        <div class="service-dropzone-container">
          <div class="service-dropzone" [style.border]="isServiceHovered ? '2px dashed #aaa' : 'none'"
               (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" (drop)="onDropAddService($event, category)">
            <div *ngIf="category.services?.length == 0" class="dropzone">
              Put services here
            </div>
            <div *ngFor="let service of category.services" class="service-draggable" [draggable]="true"
                 (dragstart)="onDragStart($event, service)">
              <h3 class="service-name">Service name:<span>{{ service.name }}</span></h3>
              <p class="service-price">Price:<span>{{ service.price }}</span></p>
            </div>
          </div>
        </div>
        <div class="deleteBtn_wrapper">
          <button (click)="deleteCategory(category.id)" class="deleteBtn">Delete</button>
        </div>
      </div>
      <div class="addCategoryBtn_wrapper">
        <button (click)="showAddCategoryForm = true" class="addCategoryBtn">Add Category</button>
      </div>

    </div>

  </div>
  <div *ngIf="showAddCategoryForm">
    <input [(ngModel)]="newCategory.name" placeholder="Category Name">
    <input [(ngModel)]="newCategory.description" placeholder="Category Description">
    <img [src]="newCategory.image" alt={{newCategory.imageFileName}}>
    <input type="file" (change)="onFileSelected($event)">
    <!-- Другие поля для ввода -->

    <button (click)="createCategory()">Create</button>
  </div>
  <div class="service-list">
    <h2 class="service-list-wrapper">Services without Category</h2><hr>
    <div class="service-dropzone" [style.border]="isServiceHovered ? '2px dashed #aaa' : 'none'"
         (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" (drop)="onDropRemoveService($event)">
      <div *ngIf="servicesWithoutCategory?.length == 0">
        Put services here
      </div>
      <div *ngFor="let service of servicesWithoutCategory" class="service-draggable" [draggable]="true"
           (dragstart)="onDragStart($event, service)">
        <h3 class="service-name">Service name:<span>{{ service.name }}</span></h3>
        <p class="service-price">Price<span>{{ service.price }}</span></p>
      </div>
    </div>
  </div>
</div>
