<!-- Список категорий и сервисов внутри категорий -->
<div class="main-container">
  <div class="category-service-container">
    <div class="category-list">
      <div *ngFor="let category of serviceCategories">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <img [src]="category.image" alt={{category.imageFileName}}>
        <div class="service-dropzone-container">
          <div class="service-dropzone" [style.border]="isServiceHovered ? '2px dashed #aaa' : 'none'"
            (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" (drop)="onDropAddService($event, category)">
            <div *ngIf="category.services?.length == 0">
              Put services here
            </div>
            <div *ngFor="let service of category.services" class="service-draggable" [draggable]="true"
              (dragstart)="onDragStart($event, service)">
              <h3>{{ service.name }}</h3>
              <p>{{ service.price }}</p>
            </div>
          </div>
        </div>
        <button (click)="deleteCategory(category.id)">Delete</button>
      </div>
      <button (click)="showAddCategoryForm = true">Add Category</button>
    </div>
  </div>
  <div *ngIf="showAddCategoryForm">
    <input [(ngModel)]="newCategory.name" placeholder="Category Name">
    <input [(ngModel)]="newCategory.description" placeholder="Category Description">
    <img [src]="newCategory.image" alt={{newCategory.imageFileName}}>
    <input type="file" (change)="onFileSelected($event)">
    <!-- Другие поля для ввода -->

    <button (click)="createCategory()">Create</button>
  </div>
  <div class="service-list">
    <h2>Services without Category</h2>
    <div class="service-dropzone" [style.border]="isServiceHovered ? '2px dashed #aaa' : 'none'"
      (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" (drop)="onDropRemoveService($event)">
      <div *ngIf="servicesWithoutCategory?.length == 0">
        Put services here
      </div>
      <div *ngFor="let service of servicesWithoutCategory" class="service-draggable" [draggable]="true"
        (dragstart)="onDragStart($event, service)">
        <h3>{{ service.name }}</h3>
        <p>{{ service.price }}</p>
      </div>
    </div>
  </div>
</div>